#### TITLE
List Comprehensions And Lamda Functions

#### OBJECTIVE
* Creating list comprehensions to replace loops with a single line of code.
* Creating single use functions called lambda functions.

The data set we'll use in this mission is in a format called JavaScript Object Notation (JSON). As the name indicates, JSON originated from the JavaScript language, but has now become a language-independent format.

From a Python perspective, JSON can be thought as a collection of Python objects nested inside each other.

![title](./img/Json_1.png)

The JSON above is a list, where each element in the list is a dictionary. Each of the dictionaries have the same keys, and one of the values of each dictionary is itself a list.

The Python json module contains a number of functions to make working with JSON objects easier. We can use the json.loads() method to convert JSON data contained in a string to the equivalent set of Python objects:

In [1]:
import pandas as pd
import numpy as np

hn = pd.read_csv('./datasets/hacker_news.csv')
hn.head(2)

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20

#### String To JSON Obj

In [2]:
json_string = """
[
  {
    "name": "Sabine",
    "age": 36,
    "favorite_foods": ["Pumpkin", "Oatmeal"]
  },
  {
    "name": "Zoe",
    "age": 40,
    "favorite_foods": ["Chicken", "Pizza", "Chocolate"]
  },
  {
    "name": "Heidi",
    "age": 40,
    "favorite_foods": ["Caesar Salad"]
  }
]
"""

import json
json_obj = json.loads(json_string)
print(type(json_obj), '\n')
print(json_obj)

<class 'list'>

[{'name': 'Sabine', 'age': 36, 'favorite_foods': ['Pumpkin', 'Oatmeal']}, {'name': 'Zoe', 'age': 40, 'favorite_foods': ['Chicken', 'Pizza', 'Chocolate']}, {'name': 'Heidi', 'age': 40, 'favorite_foods': ['Caesar Salad']}]

We can observe a few things:

* The formatting from our original string is gone. This is because printing Python lists and dictionaries has a simple formatting structure.
* The order of the keys in the dictionary have changed. This is because (prior to version 3.6) Python dictionaries don't have fixed order.

In [3]:
world_cup_str = """
[
    {
        "team_1": "France",
        "team_2": "Croatia",
        "game_type": "Final",
        "score" : [4, 2]
    },
    {
        "team_1": "Belgium",
        "team_2": "England",
        "game_type": "3rd/4th Playoff",
        "score" : [2, 0]
    }
]
"""
import json
world_cup_obj = json.loads(world_cup_str)
world_cup_obj

[{'team_1': 'France',
  'team_2': 'Croatia',
  'game_type': 'Final',
  'score': [4, 2]},
 {'team_1': 'Belgium',
  'team_2': 'England',
  'game_type': '3rd/4th Playoff',
  'score': [2, 0]}]

#### Reading a JSON File
One of the places where the JSON format is commonly used is in the results returned by an Application programming interface (API). APIs are interfaces that can be used to send and transmit data between different computer systems. 
To read a file from JSON format, we use the json.load() function. Note that the function is json.load() without an "s" at the end. The json.loads() function is used for loading JSON data from a string ("loads" is short for "load string"), whereas the json.load() function is used to load from a file object.

In [4]:
import json
file = open("./datasets/hn_2014.json")
# Returns a list
hn = json.load(file)

print(type(hn), '\n')
print(len(hn), '\n')
print(type(hn[0]), '\n')
print(hn[0].keys())

<class 'list'>

35806

<class 'dict'>

dict_keys(['author', 'numComments', 'points', 'url', 'storyText', 'createdAt', 'tags', 'createdAtI', 'title', 'objectId'])

#### JSON Obj To String
Create a function which will print a JSON object with formatting to make it easier to read.
The function will use the **json.dumps()** function **("dump string")** which does the opposite of the **json.loads()** function — it takes a JSON object and returns a string version of it. The json.dumps() function accepts arguments that can specify formatting for the string, which we'll use to make things easier to read

In [5]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)

#hn is a list, for a DF it will throw a "TypeError: Object of type DataFrame is not JSON serializable error"
first_story = hn[1] 
jprint(first_story)

{
    "author": "jcr",
    "createdAt": "2014-05-29T08:05:58Z",
    "createdAtI": 1401350758,
    "numComments": 0,
    "objectId": "7815234",
    "points": 1,
    "storyText": "",
    "tags": [
        "story",
        "author_jcr",
        "story_7815234"
    ],
    "title": "Telemba Turns Your Old Roomba and Tablet Into a Telepresence Robot",
    "url": "http://spectrum.ieee.org/automaton/robotics/home-robots/telemba-telepresence-robot"
}

#### Deleting Dictionary Keys
You may notice that the createdAt and createdAtI keys both have the date and time data in two different formats. Because the format of createdAt is much easier to understand, let's do some data cleaning by deleting the createdAtI key from every dictionary.

To delete a key from a dictionary, we can use the [del](https://docs.python.org/3.7/reference/simple_stmts.html#del) statement.

In [6]:
def del_key(dict_, key):
    # create a copy so we don't
    # modify the original dict
    modified_dict = dict_.copy()
    del modified_dict[key]
    return modified_dict

first_story = hn[0]
jprint(first_story) 
print('Deleting [createdAtI]')

first_story = del_key(first_story, 'createdAtI')
jprint(first_story)

{
    "author": "dragongraphics",
    "createdAt": "2014-05-29T08:07:50Z",
    "createdAtI": 1401350870,
    "numComments": 0,
    "objectId": "7815238",
    "points": 2,
    "storyText": "",
    "tags": [
        "story",
        "author_dragongraphics",
        "story_7815238"
    ],
    "title": "Are we getting too Sassy? Weighing up micro-optimisation vs. maintainability",
    "url": "http://ashleynolan.co.uk/blog/are-we-getting-too-sassy"
}
Deleting [createdAtI]
{
    "author": "dragongraphics",
    "createdAt": "2014-05-29T08:07:50Z",
    "numComments": 0,
    "objectId": "7815238",
    "points": 2,
    "storyText": "",
    "tags": [
        "story",
        "author_dragongraphics",
        "story_7815238"
    ],
    "title": "Are we getting too Sassy? Weighing up micro-optimisation vs. maintainability",
    "url": "http://ashleynolan.co.uk/blog/are-we-getting-too-sassy"
}

Remove the createdAtI key from every story in our Hacker News data set

In [7]:
def del_key(dict_, key):
    # create a copy so we don't
    # modify the original dict
    modified_dict = dict_.copy()
    del modified_dict[key]
    return modified_dict

hn_clean = []
for h in hn:
    modified_story = del_key(h, 'createdAtI')
    hn_clean.append(modified_story)
    
hn_clean[0]

{'author': 'dragongraphics',
 'numComments': 0,
 'points': 2,
 'url': 'http://ashleynolan.co.uk/blog/are-we-getting-too-sassy',
 'storyText': '',
 'createdAt': '2014-05-29T08:07:50Z',
 'tags': ['story', 'author_dragongraphics', 'story_7815238'],
 'title': 'Are we getting too Sassy? Weighing up micro-optimisation vs. maintainability',
 'objectId': '7815238'}

#### Writing List Comprehensions
The task we performed is an extremely common one.
* Iterated over values in a list.
* Performed a transformation on those values.
* Assigned the result to a new list.

Python includes a special syntax shortcut for tasks that meet these criteria: List Comprehensions. A list comprehension provides a concise way of creating lists in a single line of code.
![title](./img/ListTrns_1.png)

**Example 1: Add 1 to each item in a list of integers**

In [8]:
ints = [1, 2, 3, 4]

plus_one = []
for i in ints:
    plus_one.append(i + 1)

print(plus_one)

[2, 3, 4, 5]

To transform this structure into a list comprehension, we do the following within brackets:

* Start with the code that transforms each item.
* Continue with our for statement (without a colon).

We can then assign the list comprehension to a variable name. The image below shows how we convert the manual loop version to a list comprehension.
![title](./img/ListTrns_2.png)

**Example 2: Multiply each item in the list by 10**

In [9]:
times_ten = []
for i in ints:
    times_ten.append(i * 10)

print(times_ten)

[10, 20, 30, 40]

In [10]:
times_ten = [i * 10 for i in ints]
times_ten

[10, 20, 30, 40]

The **"transformation"** step of our list comprehension can be anything, including a function or method. In the example below, we are applying a function to a list of floats to round them to integers.

**Example 3: Applying a function to a list of floats**

In [11]:
floats = [2.1, 8.7, 4.2, 8.9]

rounded = []
for f in floats:
    rounded.append(round(f))

print(rounded)

[2, 9, 4, 9]

In [12]:
rounded = [round(f) for f in floats]
rounded

[2, 9, 4, 9]

**Example 4: Apply a method to each string in a list to capitalize it**

In [13]:
letters = ['a', 'b', 'c', 'd']

caps = []
for l in letters:
    caps.append(l.upper())
    
caps

['A', 'B', 'C', 'D']

In [14]:
caps = [l.upper() for l in letters]
caps

['A', 'B', 'C', 'D']

 A list comprehension can be used where we:
* Iterated over values in a list.
* Performed a transformation on those values.
* Assigned the result to a new list.

To transform a loop to a list comprehension, in brackets we:
* Start with the code that transforms each item.
* Continue with our for statement (without a colon).

![title](./img/ListTrns_5.png)

In [15]:
hn_clean = [del_key(d, 'createdAtI') for d in hn]
hn_clean[0:2]

[{'author': 'dragongraphics',
  'numComments': 0,
  'points': 2,
  'url': 'http://ashleynolan.co.uk/blog/are-we-getting-too-sassy',
  'storyText': '',
  'createdAt': '2014-05-29T08:07:50Z',
  'tags': ['story', 'author_dragongraphics', 'story_7815238'],
  'title': 'Are we getting too Sassy? Weighing up micro-optimisation vs. maintainability',
  'objectId': '7815238'},
 {'author': 'jcr',
  'numComments': 0,
  'points': 1,
  'url': 'http://spectrum.ieee.org/automaton/robotics/home-robots/telemba-telepresence-robot',
  'storyText': '',
  'createdAt': '2014-05-29T08:05:58Z',
  'tags': ['story', 'author_jcr', 'story_7815234'],
  'title': 'Telemba Turns Your Old Roomba and Tablet Into a Telepresence Robot',
  'objectId': '7815234'}]

#### Using List Comprehensions to Transform and Create Lists
List comprehensions can be used for many different things. Three common applications are:
1. Transforming a list
2. Creating a new list
3. Reducing a list

The first application, **transforming a list**, is the category that all the examples you've seen so far fit under. You are taking an existing list, applying a transformation to every value, and assigning it to a variable.

The second application, creating a new list, is useful for creating test data or data that is based on a set of numbers.

In [16]:
# Create an empty dataframe with labels
import pandas as pd

cols = ['col_{}'.format(i) for i in range(1, 5)]
data = np.zeros((4, 4))

df = pd.DataFrame(data, columns=cols)
print(df)

   col_1  col_2  col_3  col_4
0    0.0    0.0    0.0    0.0
1    0.0    0.0    0.0    0.0
2    0.0    0.0    0.0    0.0
3    0.0    0.0    0.0    0.0

In [17]:
urls = [d['url'] for d in hn_clean]
urls[0:5]

['http://ashleynolan.co.uk/blog/are-we-getting-too-sassy',
 'http://spectrum.ieee.org/automaton/robotics/home-robots/telemba-telepresence-robot',
 'http://online.wsj.com/articles/apple-to-buy-beats-1401308971',
 'http://alexsblog.org/2014/05/29/dont-wait-for-inspiration/',
 'http://techcrunch.com/2014/05/28/hackerone-get-9m-in-series-a-funding-to-build-bug-tracking-bounty-programs/']

#### Using List Comprehensions to Reduce a List
The last common application of list comprehensions is reducing a list. Let's say we had a list of integers and we wanted to remove any integers that were smaller than 50

In [18]:
ints = [25, 14, 13, 84, 43, 6, 77, 56]

big_ints = [i for i in ints if i>=50]
print(big_ints)

[84, 77, 56]

In [19]:
has_comments = [d for d in hn_clean if d['numComments'] > 0]

num_comments = len(has_comments)
print(num_comments)

9279

In [20]:
thousand_points = [d for d in hn_clean if d['points'] > 1000]
num_thousand_points = len(thousand_points)
num_thousand_points

8

#### Passing Functions As Arguments


Let's try and use Python to return the dictionary of the person with the lowest age:
min(json_obj)


TypeError               Traceback (most recent call last)
<ipython-input-290-60cd4510e136> in module()
----> 1 min(json_obj)
TypeError: unorderable types: dict() < dict()
        
                                           
We get an error because Python doesn't have any way to tell whether one dictionary object is "greater" than another.
There is a way we can actually tell functions like min(), max(), and sorted() how to sort complex objects like dictionaries and lists of lists. We do this by using the optional key argument. The official Python documentation contains the following excerpts that describe how the argument works:
The key argument specifies a one-argument ordering function like that used for list.sort().

**key specifies a function of one argument that is used to extract a comparison key from each list element. The key corresponding to each item in the list is calculated once and then used for the entire sorting process.**

These excerpts tell us we need to specify a function as an argument to control the comparison between values. Up until now, we've only passed variables or values as arguments, but not functions!

In [21]:
def greet():
    return "hello"

greet()
t = type(greet())
print(t)

<class 'str'>

![title](./img/FuncArg_1.png)
We need to find a way to look at the function itself, rather than the result of the function. The key to this is the parentheses: ().

The parentheses are what tells Python to execute the function, so if we omit the parentheses we can treat a function like a variable, rather than working with the output of the function:
There are other variable-like behaviors we can also use when we omit the parentheses from a function. For instance, we can assign a function to a new variable name:

In [22]:
t = type(greet)
print(t)

greet_2 = greet
greet_2()

<class 'function'>

'hello'

In [23]:
def run_func(func):
    print("RUNNING FUNCTION: {}".format(func))
    return func()

run_func(greet)

RUNNING FUNCTION: <function greet at 0x0000017CB7AC7678>

'hello'

![title](./img/FuncArg_2.png)
Let's see how to use a function to control the behavior of the sorted()

![title](./img/FuncArg_3.png)

In [24]:
def get_age(json_dict):
    return json_dict['age']

youngest = min(json_obj, key=get_age)
jprint(youngest)

{
    "age": 36,
    "favorite_foods": [
        "Pumpkin",
        "Oatmeal"
    ],
    "name": "Sabine"
}

Find the story that has the greatest number of comments

In [25]:
def get_num_comments(story):
    return story['numComments']

most_comments = max(hn_clean, key=get_num_comments)
most_comments

{'author': 'platz',
 'numComments': 1208,
 'points': 889,
 'url': 'https://blog.mozilla.org/blog/2014/04/03/brendan-eich-steps-down-as-mozilla-ceo/',
 'storyText': None,
 'createdAt': '2014-04-03T19:02:53Z',
 'tags': ['story', 'author_platz', 'story_7525198'],
 'title': 'Brendan Eich Steps Down as Mozilla CEO',
 'objectId': '7525198'}

#### Lambda Functions
We create functions when we want to perform the same task many times. In the previous exercise, we created a function to use just once — as an argument to max().
Python provides a special syntax to create temporary functions for situations like these. These functions are called lambda functions. Lambda functions can be defined in a single line, which allows you to define a function you want to pass as an argument at the time you need it.

While it's unusual to assign a lamdba function to a variable name, we'll do that while we learn lambda functions through some simple examples. We'll start with a function that returns a single argument without modifying it:

**def unchanged(x):
      return x**

Let's give each component of the function a name 
![title](./img/LambdaF_1.png)

We're calling the returned element "transformation," even though there is no transformation. This will make sense as we introduce more complex examples.

To create a lambda function equivalent of this function, we:

* Use the lambda keyword, followed by
* The parameter and a colon, and then
* The transformation we wish to perform on our argument

We can then assign that to the function name:
![title](./img/LambdaF_2.png)

![title](./img/LambdaF_3.png)

![title](./img/LambdaF_4.png)

![title](./img/LambdaF_5.png)

If a function is particularly complex, it may be a better choice to define a regular function rather than create a lambda, even if it will only be used once. 

For instance, this function below, which extracts digits from a string and then adds one to the resultant integer.

In [26]:
import re

def extract_and_increment(string):
    digits = re.search(r'\d+', string).group()
    incremented = int(digits) + 1
    return incremented


print(extract_and_increment('pingoo123'))

124

In [27]:
# Lamda equivalent of the above function
extract_and_increment = lambda string: int(re.search(r"\d+", string).group()) + 1

print(extract_and_increment('pingoo123'))

124

In [28]:
# def multiply(a, b):
#    return a * b
multiply = lambda a, b: a * b
print(multiply(3, 4))

12

#### Using Lambda Functions to Analyze JSON Data

Assigning a lambda to a variable so it can be called by name is a pretty uncommon pattern. The primary use of lambda functions is to define a function in place, like when we are providing a function as an argument.
![title](./img/LambdaF_6.png)

In [29]:
import json

json_string = """
[
  {
    "name": "Sabine",
    "age": 36,
    "favorite_foods": ["Pumpkin", "Oatmeal"]
  },
  {
    "name": "Zoe",
    "age": 40,
    "favorite_foods": ["Chicken", "Pizza", "Chocolate"]
  },
  {
    "name": "Heidi",
    "age": 40,
    "favorite_foods": ["Caesar Salad"]
  }
]
"""

json_obj = json.loads(json_string)
json_obj

[{'name': 'Sabine', 'age': 36, 'favorite_foods': ['Pumpkin', 'Oatmeal']},
 {'name': 'Zoe',
  'age': 40,
  'favorite_foods': ['Chicken', 'Pizza', 'Chocolate']},
 {'name': 'Heidi', 'age': 40, 'favorite_foods': ['Caesar Salad']}]

**sorted()**

![title](./img/LambdaF_7.png)

**min()**

![title](./img/LambdaF_8.png)

**max()**

![title](./img/LambdaF_9.png)

#### OBSERVATIONS

* Learned that functions can be passed as arguments.
* Created functions and used them to calculate the minimum, maximum, and to sort lists of lists.
* Learned about lambda functions and how to create them.
* Learned how to use a lambda function to pass an argument in place when calculating minimums, maximums, and sorting lists of lists.

**Calculate the posts that had the most points in 2014**

In [30]:
hn_sorted_points = sorted(hn_clean, key=lambda d: d['points'], reverse=True)
jprint(hn_sorted_points[0:2])

top_5_titles = [d['title'] for d in hn_sorted_points[:5]]
top_5_titles

[
    {
        "author": "frederfred",
        "createdAt": "2014-03-10T15:44:42Z",
        "numComments": 398,
        "objectId": "7373566",
        "points": 2732,
        "storyText": "",
        "tags": [
            "story",
            "author_frederfred",
            "story_7373566"
        ],
        "title": "2048",
        "url": "http://gabrielecirulli.github.io/2048/"
    },
    {
        "author": "brokenparser",
        "createdAt": "2014-02-11T08:12:28Z",
        "numComments": 260,
        "objectId": "7216471",
        "points": 1958,
        "storyText": "",
        "tags": [
            "story",
            "author_brokenparser",
            "story_7216471"
        ],
        "title": "Today is The Day We Fight Back",
        "url": "https://thedaywefightback.org/"
    }
]

['2048',
 'Today is The Day We Fight Back',
 'Wozniak: “Actually, the movie was largely a lie about me”',
 'Microsoft Open Sources C# Compiler',
 'Elon Musk: To the People of New Jersey']

#### Reading JSON Files into Pandas
Pandas has the **pandas.read_json()** function, which is designed to read JSON from either a file or a JSON string. In our case, our JSON exists as Python objects already, so we don't need to use this function.

Because the structure of JSON objects can vary a lot, sometimes you will need to prepare your data in order to be able to convert it to a tabular form. In our case, our data is a list of dictionaries, which pandas is easily able to convert to a dataframe.

In [31]:
jprint(json_obj)

[
    {
        "age": 36,
        "favorite_foods": [
            "Pumpkin",
            "Oatmeal"
        ],
        "name": "Sabine"
    },
    {
        "age": 40,
        "favorite_foods": [
            "Chicken",
            "Pizza",
            "Chocolate"
        ],
        "name": "Zoe"
    },
    {
        "age": 40,
        "favorite_foods": [
            "Caesar Salad"
        ],
        "name": "Heidi"
    }
]

Each of the dictionaries will become a row in the dataframe, with each key corresponding to a column name.
![title](./img/Json_2.png)

We can use the **pandas.DataFrame()** constructor and pass the list of dictionaries directly to it to convert the JSON to a dataframe:

In [32]:
json_df = pd.DataFrame(json_obj)
print(json_df)

     name  age               favorite_foods
0  Sabine   36           [Pumpkin, Oatmeal]
1     Zoe   40  [Chicken, Pizza, Chocolate]
2   Heidi   40               [Caesar Salad]

In [33]:
import pandas as pandas

hn_df = pd.DataFrame(hn_clean)
hn_df.head()

,author,numComments,points,url,storyText,createdAt,tags,title,objectId
0,dragongraphics,0,2,http://ashleynolan.co.uk/blog/are-we-getting-t...,,2014-05-29T08:07:50Z,"[story, author_dragongraphics, story_7815238]",Are we getting too Sassy? Weighing up micro-op...,7815238
1,jcr,0,1,http://spectrum.ieee.org/automaton/robotics/ho...,,2014-05-29T08:05:58Z,"[story, author_jcr, story_7815234]",Telemba Turns Your Old Roomba and Tablet Into ...,7815234
2,callum85,0,1,http://online.wsj.com/articles/apple-to-buy-be...,,2014-05-29T08:05:06Z,"[story, author_callum85, story_7815230]",Apple Agrees to Buy Beats for $3 Billion,7815230
3,d3v3r0,0,1,http://alexsblog.org/2014/05/29/dont-wait-for-...,,2014-05-29T08:00:08Z,"[story, author_d3v3r0, story_7815222]",Don’t wait for inspiration,7815222
4,timmipetit,0,1,http://techcrunch.com/2014/05/28/hackerone-get...,,2014-05-29T07:46:19Z,"[story, author_timmipetit, story_7815191]",HackerOne Get $9M In Series A Funding To Build...,7815191

#### Exploring Tags Using the Apply FUnction

Just like the favorite_food column in our example data on the previous screen, the tags column is a column where each item contains the list of data from our original JSON.

At first glance, it looks like each values in this JSON list contain three items:

1. The string story
2. The name of the author
3. The story ID

In [34]:
tags = hn_df['tags']
print(tags.dtype)

object

The tags column is stored as an object type. Whenever pandas uses the object type, each item in the series uses a Python object to store the data. Most commonly we see this type used for string data.

We previously learned that we could use the Series.apply() method to apply a function to every item in a series. Let's look at what we get when we pass the type() function as an argument to the column:

In [35]:
tags_types = tags.apply(type)
type_counts = tags_types.value_counts(dropna=False)
print(type_counts)

<class 'list'>    35806
Name: tags, dtype: int64

In [36]:
tags_types = tags.apply(len)
type_lengths = tags_types.value_counts(dropna=False)
print(type_lengths)

3    33459
4     2347
Name: tags, dtype: int64

In [37]:
tags = hn_df['tags']
has_four_tags = tags.apply(len) == 4
four_tags = tags[has_four_tags]
four_tags

43       [story, author_alamgir_mand, story_7813869, sh...
86         [story, author_cweagans, story_7812404, ask_hn]
104      [story, author_nightstrike789, story_7812099, ...
107      [story, author_ISeemToBeAVerb, story_7812048, ...
109         [story, author_Swizec, story_7812018, show_hn]
                               ...
35747      [story, author_rpm4321, story_6994970, show_hn]
35759            [story, author_ct, story_6994828, ask_hn]
35778    [story, author_ChrisNorstrom, story_6994370, a...
35787    [story, author_benjamincburns, story_6994163, ...
35792      [story, author_randall, story_6993981, show_hn]
Name: tags, Length: 2347, dtype: object

#### Extracting Tags Using Apply with a Lambda Function
![title](./img/Tags_2.png)

![title](./img/Tags_3.png)

In [38]:
# def extract_tag(l):
#     return l[-1] if len(l) == 4 else None

cleaned_tags = tags.apply(lambda l: l[-1] if len(l) == 4 else None)
hn_df['tags'] = cleaned_tags
cleaned_tags

0        None
1        None
2        None
3        None
4        None
         ...
35801    None
35802    None
35803    None
35804    None
35805    None
Name: tags, Length: 35806, dtype: object